// Header section styles start
.space-body{
    height: 100vh;
    background-image: url(../images/space-bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.space__site-header {
    padding:0 55px;
    padding-top:40px; 
}
.space__header {
    @include Display($items:center, $space:space-between, $gap:0px);
}
.space__header-logo-content {
    @include Display($items:center, $space:space-between, $gap:0px);
}
.space__header-logo-wrapper{
    display: inline-block;
    top: 25px;
    left: 0;
    z-index: 2;
}
.space__header-line {
    width: 473px;
    border: 1px solid #ffff;
    opacity: 20%;
    top: 47px;
    left: 167px;
    z-index: 5;
}
.space__header-list-wrapper{
    width: 830px;
    margin-left: 135px;
}
.space__header-list {
    padding: 39px 165px 0 123px;
    @include Display($items:center, $space:start, $gap:48px);
    backdrop-filter: blur(22px);
    top: 0;
    right: 0;
    z-index: 3;
    background-color: #FFFFFF0A;
}
.space__header-item {
    position: relative;
    overflow: hidden;
    transition: 0.3s all linear;

    &::before{
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: $white-clr;
        left: -100%;
        bottom: 0;
        transition: 0.3s all linear;
    }
    &:hover::before{
        left: 0;
    }

    &::after{
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: $white-clr;
        right : -100%;
        bottom: 0; 
        transition: 0.3s all linear;
    }

    &:hover::after{
        right: 0;
    }

}
.space__header-item-link {
    padding-bottom: 40px;
    @include Display($items:center, $space:space-between, $gap:12px);
    font-family: "Barlow Condensed";
    
}
.space__header-item-link:nth-child(1){
    @include Display($items:center, $space:space-between, $gap:11px);
}
.space__header-item-link:nth-child(2){
    @include Display($items:center, $space:space-between, $gap:14px);
}
.space__header-item-number-span{
    @include TextStyle($MB:px, $FS:16px, $FW:700px, $CLR:$white-clr, $LH:19px, $CASE:capitalize);
    
}
.space__header-item-text-span{
    @include TextStyle($MB:px, $FS:16px, $FW:400px, $CLR:$white-clr, $LH:19px, $CASE:capitalize);
}
.space__header-menu-btn{
    border: none;
    display: none;
    background-color: transparent;
}
.space__header-hide-content{
    display: none;
}
// Responsive start

// Tablet
@media(max-width:1110px){
    .space__header-logo-wrapper{
        display: inline-block;
        position: absolute;
        top: 25px;
        left: 0;
        z-index: 2;
    }
}
@media(max-width:951px){
    .space-body{
        height: 100vh;
        background-image: url(../images/space-tablet-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
    }
    .space__site-header {
        padding-top:0; 
    }
    .space__header{
        @include Display($items:center, $space:start, $gap:0px);
    }
    .space__header-line{
        display: none;
    }
    .space__header-list{
        padding: 39px 47px 0 ;
        right: 0;
    }
    .space__header-item-number-span{
        display: none;
    }
    .space__header-logo-content {
        top: 0;
        left: 0;
    }
}
// Mobile
@media (max-width:570px){
    .space-body{
        height: 100vh;
        background-image: url(../images/space-mobile-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
    }
    .space__site-header {
        padding: 0 55px;
    }
    .space__header{
        @include Display($items:center, $space:space-between, $gap:0px);
    }
    .space__header-list{
        display: none;
    }
    .space__header-menu-btn{
        padding-top: 40px;
        display: block;

    }
}
// Header section styles end
// hero section

.commander__hero-section {
    padding-top: 62px;
}
.commander__hero {
    @include Display($items:start, $space:space-between, $gap:0px)
}
.commander__hero-wrappers{
    padding: 76px 0 154px 0;
    @include textStyle($MB:0px, $FS:28px, $FW:400, $CLR:#FFFFFF, $LH:33.6px, $CASE:uppercase);
    opacity: 25%;
}
.hero__wrappers{
    margin-left: 24px;
}
.commander__hero-wrapper >strong{
    @include textStyle($MB:15px, $FS:32px, $FW:400, $CLR:#FFFFFF, $LH:36.67px, $CASE:uppercase);
    opacity: 50.42%;
}
.commander__hero-wrapper >h2{
    @include textStyle($MB:27px, $FS:56px, $FW:400, $CLR:#FFFFFF, $LH:64.18px, $CASE:uppercase);
}
.commander__hero-wrapper >p{
    max-width: 444px;
    @include textStyle($MB:120px, $FS:18px, $FW:400, $CLR:#D0D6F9, $LH:32px, $CASE:capitalize);
}
.commander__hero-wrapper-bg{
    display: flex;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #D3D3D3;
    background-color: white;
    position: relative;
    gap: 24px;
    opacity: 17%;
    
    &:hover{
        background-color: #FFFFFF;
    }
}
